
/* APP */
.app{
  background-color: #EEF1F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* WHITE BOX */
.box{
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  max-width: 450px;
  filter: drop-shadow(0px 1px 10px lightgray);
}

/* GLOBAL STYLES*/
h2{
  line-height: .25;
  font-weight: 500;
  font-size: 2rem;
}

h1{
  font-style: bold;
  line-height: .25;
  font-weight: 800;
  margin-bottom: 2rem;
}

p{
  line-height: 1.5;
}


/* FORM */

.form-input{
  display:flex;
  flex-direction: column;
}

.input{
  border-radius: .25rem;
  padding: .5rem;
  border: 1px solid lightgray;
  /* outline: none; */
  box-sizing: border-box;
}

.label{
  font-weight: 700;
  margin-bottom: .5rem;
  margin-top: 1rem;
}


/* BUTTON */

.button-box{
  display:flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.button{
  border: none;
  background-color: #ff3300;
  padding: .5rem 1rem;
  font-weight: 600;
  color: white;
  border-radius: .25rem;
}

/* ERRORS */
.errors{
  color: #ff3300;
  padding: .5rem 0;
  position: relative;
  animation: erro .5s infinite;
}

.errors-input{
  border-radius: .25rem;
  padding: .5rem;
  border: 1px solid #ff3300;
  /* outline: none; */
  box-sizing: border-box;
}

/* KEYFRAMES */
@keyframes erro {
  0% {transform: translateX(20px)}
  50% {transform: translateX(-20px)}
  100% {transform: translateX(0px)}
}


/* MEDIA QUERIES */

@media screen and (max-width: 900px){
.box{
  max-width: 400px;
}
}

@media screen and (max-width: 768px){
  .box{
    max-width: 300px;
  }
  }

  @media screen and (max-width: 600px){
    .box{
      max-width: 250px;
    }
    }

  @media screen and (max-width: 480px){
    .box{
      max-width: 200px;
    }
    }
