.app{
  background-color: #EEF1F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  max-width: 50%;
}

h2{
  line-height: .5;
}

h1{
  font-style: bold;
  line-height: .5;
}

.form-input{
  display:flex;
  flex-direction: column;

}

.input{
  border-radius: 1rem;
  padding: .5rem;

}